* @confiify @qatoolist @qualityCOE

/.github/ @confiify @qatoolist @qualityCOE
/SECURITY.md @confiify @qatoolist @qualityCOE
/loader/cloud/ @confiify @qatoolist @qualityCOE
/secret/cloud/ @confiify @qatoolist @qualityCOE
